{% extends 'main.html'%}

{% block content %}
<div class="container text-center">
    <div class="text-center">
        <h1>Welcome to FLEXpay</h1>
        <h2>Help Center</h2>
    </div>
    <div class="row align-items-center">
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
      </div>
</div>


{% endblock content %}