{% extends 'main.html'%}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="text-center display-2"><img src="{% static '/icons/help-center.svg' %}" alt="Log-in" width="50" height="50">Help Center</h1>
<h2 class="text-center display-4">Bienvenido a FLEXpay!</h2>
<p>Una herramienta para controlar el tiempo de vuelo y el dinero ganado.
  En esta breve documentación vamos a mostrarte lo fácil que es utilizarlo, desde el registro por primera vez hasta la visualización de informes de meses anteriores. ¡Así que vamos a empezar para que pueda empezar a hacer un seguimiento de inmediato!
  Si después de leer esto sigue teniendo preguntas, no dude en ponerse en contacto con nosotros haciendo clic en <a class="text-primary" href="{% url 'contact-us' %}">Aquí</a>.
</p>
</div>
<section class="text-center">
 <div class="container bg-light p-5">
  <div class="d-flex">
      <div class="row">
          <h1>Home</h1>
 <p>Lo primero que verá es la pantalla de inicio así como el menú superior. Desde aquí podemos navegar al resto de herramientas de las que dispone FLEXpay.
  Siempre puede volver a esta página principal pulsando en el logo de FLEXpay.
 </p>
        <img class="img-fluid" src="{% static '/images/home.png' %}" alt="">
      </div>
  </div>
 </div>
</section>
<section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-4 btn-primary bg-gradient" href="{% url 'register' %}">
              <img src="{% static '/icons/new-user.svg' %}" alt="Log-in" width="50" height="50">Register</h1>
   <p>Lo primero que tendrás que hacer es registrarte.  </br>Tendrás que registrarte utilizando:</p>
   <ul>
    <li>
      Tu numero de Empleado ID (1)
    </li>
    <li>
      Tu nombre (2)
    </li>
    <li>
      Tu Apellido (3)
    </li>
    <li>
      Tu Posicion Actual (4)
    </li>
    <li>
      Tu correo electronico personal (5)
      Es muy importante para recibir notificaciones y restablecer tu contraseña.
    </li>
    <li>
      Your Password (6)
    </li>
    
   </ul>
          </div>
            <img class="img-fluid" src="{% static '/images/register_page.png' %}" alt="">
        </div>
    </div>
   </div>
</section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-4 btn-primary bg-gradient" style="width: 50%;" href="{% url 'logbook_calc' %}">
              <img src="{% static '/icons/cash-coin.svg' %}" alt="Log-in" width="50" height="50">Logbook Calc</h1>
            <h2>Nueva Entrada</h2>
   <p>La primera sección que verá aquí es la de Nueva Entrada, es un formulario que se divide en diferentes campos.
    <ul>
      <li>
        <strong>Fecha*:</strong> Seleccione la fecha del vuelo que desea grabar. 
        *Nota: Puedes grabar vuelos de fechas pasadas, presentes y futuras. Esto es útil cuando quieres tener una idea o proyección de tu total del mes.
      </li>
      <li>
        <strong>Ruta*:</strong> Escriba la ruta de su vuelo o asignación para tenerla registrada (ej. ADM, MOD3, SIM...) 
        *Nota: Puedes escribir letras y números como te sientas más cómodo(Ej. MIA227, 453, LAXPTY, PTYJFK808...)
      </li>
      <li>
        <strong>Tiempo de Bloque*:</strong> Aquí escribirá la hora en bloque tal y como aparece en ACARS (formato HH:MM) 
        *Nota: Tiene que introducir la hora y los minutos en campos separados. Hay uno para las horas y otro para los minutos. Puede introducir hasta dos dígitos en cada campo.
      </li>
      <li>
        Domingo, Feriado, Dia Libre y SA:Estos campos funcionan igual y tienen las mismas restricciones, aquí introducirá las horas y minutos dependiendo de la condición.
      </li>
      <li>
        <strong>Comentario:</strong> Este campo es para cualquier comentario personal para que lo tengas en cuenta.
        *Nota: Este campo está abierto para introducir números, letras, símbolos o cualquier cosa que necesites recordar para esta entrada (Ej. "Vuelo Removido", "viatico training", "Cambio en BR"...)
      </li>
      <li>
        <strong>SAVE:</strong> Este es el botón de guardar, púlselo para grabar su entrada. Si se ha grabado correctamente, aparecerá un mensaje en la parte superior de la pantalla: "Entrada grabada correctamente".
      </li>
      <li class="text-danger">
        *Nota: Los campos de fecha, ruta y hora de bloqueo son obligatorios. Si alguno de estos campos se deja en blanco, aparecerá un mensaje de error.
      </li>      
     </ul>
    </p>
   <img class="img-fluid" src="{% static '/images/new_entry.png' %}" alt="">        
  </div>
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-4 btn-primary bg-gradient" style="width: 50%;" href="{% url 'logbook_calc' %}">
              <img src="{% static '/icons/cash-coin.svg' %}" alt="Log-in" width="50" height="50">Logbook Calc</h1>
            <h2>Filtro</h2>
   <p>En esta sección podrá ver los registros de entrada de hasta 12 meses en el pasado, así como los tiempos totales de ese mes y el pago aproximado ganado.
    Si quieres ver el cálculo de un mes anterior, sólo tienes que seleccionar el mes que quieres ver y pulsar FILTRO.</p>
  <p class="text-warning">Note: It will show January as a default, however this is not the month shown in the Logbook section</p>
          <img class="img-fluid" src="{% static '/images/filter1.png' %}" alt="">
        </div>
        
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-4 btn-primary bg-gradient" style="width: 50%;" href="{% url 'logbook_calc' %}">
              <img src="{% static '/icons/cash-coin.svg' %}" alt="Log-in" width="50" height="50">Logbook Calc</h1>
            <h2>Entradas</h2>
   <p>En esta sección verá todas las entradas que hayas realizado correctamente en la sección "Nueva entrada". Y adicionalmente verás el equivalente del tiempo convertido en decimales en cada campo (ej. 1.54, 2.37, 3.98...)
    Además, cada entrada tiene un botón de BORRAR (<img class="btn btn-danger btn-sm" src="{% static '/icons/delete-entry.svg' %}">), úsalo si te has equivocado en tu entrada, bórrala y vuelve a introducirla.
    En la parte inferior de la "Sección Bitácora" encontraremos la "Tira de Totales". Esto no es más que los totales de las entradas de la "Sección Cuaderno de Bitácora". Puede ser el mes actual por defecto o un mes pasado seleccionado en la Sección FILTRAR POR MES.

Traducción realizada con la versión gratuita del traductor www.DeepL.com/Translator
    </p>
          <img class="img-fluid" src="{% static '/images/logbook1.png' %}" alt="">
        <img class="img-fluid" src="{% static '/images/totals.png' %}" alt="">
      </div>
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-4 btn-primary bg-gradient" style="width: 50%;" href="{% url 'logbook_calc' %}">
              <img src="{% static '/icons/cash-coin.svg' %}" alt="Log-in" width="50" height="50">Logbook Calc</h1>
            <h2>Salarios y Primas Fijas</h2>
   <p>En esta seccion podremos ver los salarios, viaticos y primas fijasasi como, ratas para calculos de recargos tomado de nuestra Convencion Colectiva vigente</p>
          <img class="img-fluid" src="{% static '/images/comp_recargos.png' %}" alt="">
        </div>
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-4 btn-primary bg-gradient" style="width: 50%;" href="{% url 'logbook_calc' %}">
              <img src="{% static '/icons/cash-coin.svg' %}" alt="Log-in" width="50" height="50">Logbook Calc</h1>
            <h2>Compensaciones y Recargos</h2>
   <p>En esta seccion podremos ver las compensaciones variables y recargos detallados por rubro.</p>
          </div>
            <img class="img-fluid" src="{% static '/images/recargos.png' %}" alt="">
            <p>Asi mismo, en la parte inferior se puede ver el total de ingresos en tiempo real. Es la suma del cuadro anterior mas la seccion de Salarios y Primas Fijas</p>
            <img class="img-fluid" src="{% static '/images/total_ingresos.png' %}" alt="">
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-4 btn-primary bg-gradient" style="width: 50%;" href="{% url 'logbook_calc' %}">
              <img src="{% static '/icons/cash-coin.svg' %}" alt="Log-in" width="50" height="50">Logbook Calc</h1>
            <h2>Descuentos</h2>
   <p>En esta seccion se puede ver los Descuentos por ley como C.S.S, Seguro Educativo y otros...</p>
   <p class="text-danger">El impuesto sobre la renta esta calculado a un estimado de 83 horas al mes. Y es un calculo bastante conservador.</p>
   <p class="">En esta seccion tambien se pueden ver los descuentos personalizados que se pueden modificar en la seccion de Profile </p>
          </div>
          <img class="img-fluid" src="{% static '/images/descuentos.png' %}" alt="">
          <p class="">Mas abajo podemos ver el total de estos descuentos en timpo real. La suma de todos los descuentos.</p>
          <img class="img-fluid" src="{% static '/images/total_descuentos.png' %}" alt="">
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-4 btn-primary bg-gradient" style="width: 50%;" href="{% url 'logbook_calc' %}">
              <img src="{% static '/icons/cash-coin.svg' %}" alt="Log-in" width="50" height="50">Logbook Calc</h1>
            <h2>Aproximado a Recibir</h2>
   <p>Y con los dos subtotales anteriores, los podemos restar y tenemos un aproximado a recibir.</p>
          <img class="img-fluid" src="{% static '/images/aprox_rec.png' %}" alt="">
        </div>
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-5 btn-primary bg-gradient" style="width: 50%;" href="{% url 'simple_calc' %}">
              <img src="{% static '/icons/simple-calc.svg' %}" alt="Log-in" width="50" height="50">Simple Calculator</h1>
   <p>Aqui vas a poder sacar un calculo rapido de las horas voladas y compensaciones, pero sin poder ver tus totales de meses anteriores.</p>
   <p class="">Solo introduce las horas totales del mes en los cuadros correspondientes</p>
   <ol class="">
    <li class="">Ingresa Horas totales del mes</li>
    <li class="">Ingresa Horas totales de Domingo</li>
    <li class="">Ingresa Horas totales trabajadas en L (Libre)</li>
    <li class="">Ingresa Horas totales trabajadas en SA (Sin Asignacion)</li>
    <li class="">Ingresa Horas totales trabajadas en Holiday (Feriado)</li>
   </ol>
   <p class="text-danger">IMPORTANTE: Debes ingresar las horas en formato decimal (2.37, 1.45,...)</p>
   <p class="">Selecciona tu pocision en los botones de abajo y te llavara a los totales y aproximados a recibir segun tu posicion.</p>
          <img class="img-fluid" src="{% static '/images/sc_main.png' %}" alt="">
        </div>
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-5 btn-primary bg-gradient" style="width: 50%;" href="{% url 'help-center' %}">
              <img src="{% static '/icons/help-center.svg' %}" alt="Log-in" width="50" height="50">Help Center</h1>
   <p>Aqui podras acceder a esta pagina de ayuda para cualquier consulta.</p>
          <img class="img-fluid" src="{% static '/images/home_help.png' %}" alt="">
        </div>
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-5 btn-primary bg-gradient" style="width: 50%;" href="{% url 'contact-us' %}">
              <img src="{% static '/icons/contact-us.svg' %}" alt="Log-in" width="50" height="50">Contact Us</h1>
   <p>Usa esta pagina para comunicarte con alguien del equipo de FLEXpay para dudas, comentarios o sugerencias.</p>
          <img class="img-fluid" src="{% static '/images/contact_us.png' %}" alt="">
        </div>
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-5 btn-warning bg-gradient" style="width: 50%;" href="/admin">
              <img src="{% static '/icons/admin.svg' %}" alt="Log-in" width="50" height="50">Maintenance</h1>
   <p>Este link esta reservado solo para Mantenimiento por parte del Equipo de FLEXpay</p>
          <img class="img-fluid" src="{% static '/images/home_maint.png' %}" alt="">
        </div>
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-5 btn-danger bg-gradient" style="width: 50%;" href="{% url 'logout' %}">
              <img src="{% static '/icons/arrow-logout.svg' %}" alt="Log-in" width="50" height="50">Log Out</h1>
   <p>Utiliza este boton solo si es necesario para cerrar tu sesion.(Ej. Al usar el aplicativo en algun dispositivo ajeno o publico)</p>
   <p class="text-warning"> Recomendamos mantener la sesion abierta para un uso mas comododo del aplicativo</p>
          <img class="img-fluid" src="{% static '/images/home_logout.png' %}" alt="">
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-5 btn-primary bg-gradient" style="width: 50%;" href="{% url 'login' %}">
              <img src="{% static '/icons/arrow-login.svg' %}" alt="Log-in" width="50" height="50">Log In</h1>
   <p>Igualmente, si estas accesando desde algun dispositivo ajeno o por primera vez, utilizaras este boton para ingresar con tu usuario y contrasena.</p>
          <img class="img-fluid" src="{% static '/images/home_login.png' %}" alt="">
          <p class="text-warning">Recuerada que tu usuario es tu numero de empleado de la compania</p>
          <p class="">Si olvidaste tu contradddsena, ingresa al link: <a href="{% url 'reset_password' %}" class="">Forgot your password?</a></p>
        <img class="img-fluid" src="{% static '/images/log_in.png' %}" alt="">
      </div>
        </div>
    </div>
   </div>
 </section>
 <section class="text-center">
  <div class="container bg-light p-5">
    <div class="d-flex">
        <div class="row">
          <div class="col">
            <h1 class="btn btn-lg rounded-5 btn-primary bg-gradient" style="width: 50%;" href="{% url 'login' %}">
              <img src="{% static '/icons/arrow-login.svg' %}" alt="Log-in" width="50" height="50">Profile</h1>
   <p>Igualmente, si estas accesando desde algun dispositivo ajeno o por primera vez, utilizaras este boton para ingresar con tu usuario y contrasena.</p>
          <img class="img-fluid" src="{% static '/images/profile.png' %}" alt="">
          <p class="">En esta seccion podras ver tu perfil personal y modificar tu Posicion, correo asi como tus descuentos personales.</p>
          <p class="text-danger">Importante: Para guardar cambios en tu perfil es necesario que confirmes tu E-mail.</p>
      </div>
        </div>
    </div>
   </div>
 </section>
{% endblock content %}