{% extends 'main.html' %}

{% block content %}
{% load static %}

<section class="bg-primary text-light p-5 text-center">
    <div class="container">
        <div class="d-sm-flex">
            <div>
                <h1> Keep Track of your flight time</h1>
                <p class="lead">
                    FLEXpayx es una herramienta desarrollada por pilotos y para pilotos de la compañia para ayudarte a calcular de una forma sencilla y facil tus horas voladas y de esta forma puedas seguir de cerca tus ingresos.
                    La puedes usar desde tu celular, iPad o computadora. 
                    Si necesitas ayuda ingresa aqui al <a class="text-light" href="{% url 'help-center' %}">Help Center</a> o en la parte superior para las instrucciones e informacion.
                    Esta herramienta esta en constante desarrollo, asique espera mas y nuevas caracteristicas en las proximas actualizaciones
                </p>
                <a class="btn btn-secondary" href="{% url 'register' %}"> Register Now!</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-light text-primary p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3>Sign Up and start loggin'</h3>
            <a class="btn btn-lg btn-primary" href="{% url 'login' %}">Login</a>
            <a class="btn btn-lg btn-secondary" href="{% url 'register' %}"> Register Now!</a>
            </div>
        </div>
    </div>
</section>

<section class="p-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md h1">Log</div>
            <div class="col-md h1">Track</div>
            <div class="col-md h1">Compare</div>
        </div>
    </div>
</section>

<div class="container text-center">
    <div class="box"><h1>Bienvenido a FLEXpay!</h1>
    
        <!-- <div class="text-center">
            <img src="{% static 'images/home1.jpg' %}" alt="" class="img-fluid">
        </div> -->
    <div class="container-sm text-center">
        <p>FLEXpay es una herramienta desarrollada por pilotos y para pilotos de la compañia para ayudarte a calcular de una forma sencilla y facil tus horas voladas y de esta forma puedas seguir de cerca tus ingresos.
        La puedes usar desde tu celular, iPad o computadora. 
        Si necesitas ayuda ingresa aqui al <a href="{% url 'help-center' %}">Help Center</a> o en la parte superior para las instrucciones e informacion.
        Esta herramienta esta en constante desarrollo, asique espera mas y nuevas caracteristicas en las proximas actualizaciones
        </p>
    </div>
</div>
</div>

{% endblock %}