{% extends 'main.html' %}

{% block content %}
<div class="container text-center">
<h2>LOGBOOK</h2>

<h2>Bienvenido, {{ user.first_name }}! {{ user.position }}</h2>
    <p>En esta pagina podras ver tus horas voladas en el mes en curso junto con un calculo aproximado de tu pago y descuentos.</p>
</div>
<!-- <div class="container text-center"><h3>Para periodo de RESERVA ingresa aqui <a type="button" href="{% url 'logbook_calc_reserve' %}" class="btn btn-primary">RESERVA</a></h3></div> -->
<div class="container-sm text-center">
<form method="POST" action="" class="container border border-primary border-5 gx-5 gy-5">
    <label class="form-label"><h3>New Entry</h3></label>
    {% csrf_token %}
    <!-- <div class="row"> -->
        <div class="col bg-white bg-opacity-75">
            <div class="mb-3">
                <label class="form-label">Date:</label>
                {{ logform.date }}
            </div>
            <div class="mb-3">
                <label class="form-label">Route:</label>
                {{ logform.route }}
            </div>
            <div class="row text-center"><h3>Block Time:</h3><div>
                <div class="row">
                    <div class="col-sm">
                    <label class="form-label">Block Hours:</label>
                    {{ logform.total_hrs_input }}
                </div>
                <div class="col-sm">
                    <label class="form-label">Block Minutes:</label>
                    {{ logform.total_min_input }}
                </div>
            </div>
            <div class="row text-center"><h3>Sunday:</h3></div>
                <div class="row">
                    <div class="col-sm">
                        <label class="form-label">Sunday Hours:</label>
                        {{ logform.sun_hrs_input }}
                    </div>
                    <div class="col-sm">
                        <label class="form-label">Sunday Minutes:</label>
                        {{ logform.sun_min_input }}
                    </div>
                </div>
                <div class="row text-center"><h3>Holiday:</h3></div>
                <div class="row">
                    <div class="col-sm">
                        <label class="form-label">Holiday Hours:</label>
                        {{ logform.holiday_hrs_input }}
                    </div>
                    <div class="col-sm">
                        <label class="form-label">Holiday Minutes:</label>
                        {{ logform.holiday_min_input }}
                    </div>
                </div>
                <div class="row text-center"><h3>Day Off (L):</h3></div>
                <div class="row">
                    <div class="col-sm">
                        <label class="form-label">Day Off Hours:</label>
                        {{ logform.libre_hrs_input }}
                    </div>
                    <div class="col-sm">
                        <label class="form-label">Day Off Minutes:</label>
                        {{ logform.libre_min_input }}
                    </div>
                </div>
                <div class="row text-center"><h3>Dia Sin Asignacion (SA):</h3></div>
                <div class="row">
                    <div class="col-sm">
                        <label class="form-label">SA Hours:</label>
                        {{ logform.sa_hrs_input }}
                    </div>
                    <div class="col-sm">
                        <label class="form-label">SA Minutes:</label>
                        {{ logform.sa_min_input }}
                    </div>
                </div>                                                                  
            <div class="mb-3">
                <label class="form-label"><h3>Remarks:</h3></label>
                {{ logform.remarks }}
            </div>
            <input type="submit" class="btn btn-primary bg-gradient container text-center my-3" name="Submit" value="Save"/>
        </div>    
    </div>
</div>               
</form>
<div class="container-sm my-3 text-center">         
<form method="GET" action="{% url 'logbook_calc' %}">
    <h3>Filter by Month</h3>
    <p>Select to view previous Months</p>
        <div class="form-floating mb-3">
            <select class="form-select" name="m" id="floatingSelectGrid">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">Octuber</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <label>Select Month to Filter</label>
            <input for="floatingSelectGrid" type="submit" class="btn btn-primary bg-gradient container my-3 text-center" value="Filter"/>
        </div>
    </div>
</form>
     
                
            <div class="container-sm">
                <table class="table table-responsive table-sm table-primary table-hover">
                    <h3 class="text-center">{{sel_month}}</h3>
                    <thead class="table-info">
                        <tr>
                        <th scope="col">DATE</th>
                        <th scope="col">ROUTE</th>
                        <th scope="col">BLOCK TIME</th>
                        <th scope="col">BLOCK TIME (Decimal)</th>
                        <th scope="col">SUNDAY</th>
                        <th scope="col">SUNDAY (Decimal)</th>
                        <th scope="col">HOLIDAY</th>
                        <th scope="col">HOLIDAY (Decimal)</th>
                        <th scope="col">LIBRE</th>
                        <th scope="col">LIBRE (Decimal)</th>
                        <th scope="col">SA</th>
                        <th scope="col">SA (Decimal)</th>
                        <th scope="col">REMARKS</th>
                        <th scope="col">DELETE</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">    
                        <tr class="table-primary">
                        {%for log in logbook %}
                        <td>{{log.date}}</td>
                        <td>{{log.route}}</td>
                        <td>{{log.total_flight_block}}</td>
                        <td>{{log.total_decimal}}</td>
                        <td>{{log.total_sun_block}}</td>
                        <td>{{log.sun_decimal}}</td>
                        <td>{{log.total_holiday_block}}</td>
                        <td>{{log.holiday_decimal}}</td>
                        <td>{{log.total_libre_block}}</td>
                        <td>{{log.libre_decimal}}</td>
                        <td>{{log.total_sa_block}}</td>
                        <td>{{log.sa_decimal}}</td>
                        <td>{{log.remarks}}</td>
                        <td><a href="{% url 'delete_entry' log.id %}" name="delete_entry" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>   
                        {% endfor %}
                    </tbody>
                    </table>
                    <div class="container text-center">
                    </div>
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Horas totales</th>
                            <th scope="col">Horas Extras</th>
                            <th scope="col">Horas de Domingo</th>
                            <th scope="col">Horas de Feriado</th>
                            <th scope="col">Horas de Libre</th>
                            <th scope="col">Horas de SA</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">    
                            <tr>
                            <td>{{sum_block}}</td>
                            <td>{{block_extra}}</td>
                            <td>{{sum_sunday}}</td>
                            <td>{{sum_holiday}}</td>
                            <td>{{sum_libre}}</td>
                            <td>{{sum_sa}}</td>
                            </tr>   
                        </tbody>
                        </table>
                    <!-- <div class="container text-right">
                            <h3>TOTALES</h3>
                            <p>Horas totales: {{sum_block}}<br>
                            Horas Extras: {{block_extra}}<br>
                            Horas de Domingo: {{sum_sunday}}<br>
                            Horas de Feriado: {{sum_holiday}}<br>   
                            Horas de Libre: {{sum_libre}}<br>
                            Horas de SA: {{sum_sa}}</p>
                    </div> -->
            </div>
<!-- FO_SIN_ATP_TABLA_D -->
                    {% if user.position_id is 5 %}
                    <div class="container text-center">
                        <h2>FO sin ATP (Tabla D)</h2>
                        <h2 class="text-primary">Salarios y Primas fijas</h2></div>
                        <div class="col">
                            <div class="box text-center">
                                <div class="container shadow p-4 mb-4 bg-primary bg-gradient rounded">
                                    <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between">
                                        Salario Base
                                        <span>{{fo_atp_base}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Gasto de Representacion
                                        <span>{{fod_natp_grep}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Prima Fija
                                        <span>{{fo_atp_prima}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Viatico Garantizado
                                        <span>{{fo_atp_viatico}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Viatico Variable
                                        <span>{{fo_atp_viatico_extra}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Prima Variable
                                        <span>{{fo_atp_prima_extra}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Rata por Hora
                                        <span>{{fod_natp_rata}}</span>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="container text-center">
                                <h2 class="text-success">Compensaciones y Recargos</h2></div>
                                <div class="col">
                                    <div class="box text-center">
                                        <div class="container shadow p-4 mb-4 bg-success bg-gradient rounded">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                              Viatico Variable
                                              <span class="badge bg-success rounded-pill">{{fo_viatico_extra}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Prima Variable
                                                <span class="badge bg-success rounded-pill">{{fo_prima_extra}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Domingo
                                                <span class="badge bg-success rounded-pill">{{fod_natp_rec_dom}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia Libre
                                                <span class="badge bg-success rounded-pill">{{fod_natp_rec_libre}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia SA
                                                <span class="badge bg-success rounded-pill">{{fod_natp_rec_sa}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia Nacional
                                                <span class="badge bg-success rounded-pill">{{fod_natp_rec_nac}}</span>
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="container text-center">
                                    <h2 class="text-success">Sub Totales - Ingresos</h2></div>
                                    <div class="col">
                                        <div class="box">
                                            <div class="container text-bg-success bg-gradient text-center rounded-pill">
                                                <h3> ${{fod_natp_subt}} </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container text-center">
                                        <h2 class="text-danger">Descuentos</h2></div>
                                        <div class="col">
                                            <div class="box">
                                                <div class="container shadow p-4 mb-4 bg-danger bg-gradient rounded">
                                                    <ul class="list-group">
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        C.S.S.
                                                        <span class="badge bg-danger rounded-pill">{{fod_natp_css}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Seguro Educativo
                                                            <span class="badge bg-danger rounded-pill">{{fod_natp_seduc}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Impuesto Sobre la Renta
                                                            <span class="badge bg-danger rounded-pill">{{fo_isr}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex text-danger justify-content-between align-items-center">
                                                            El ISR esta calculado estimando 82hrs y es solo un estimado.
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Impuesto Sobre la Renta (Gasto de Representacion)
                                                            <span class="badge bg-danger rounded-pill">{{fod_natp_isr_gr}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            UNPAC
                                                            <span class="badge bg-danger bg-gradient rounded-pill">{{fod_natp_unpac}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container text-center">
                                            <h2 class="text-danger">Sub Totales - Descuentos</h2></div>
                                                    <div class="col">
                                                        <div class="box">
                                                            <div class="container text-bg-danger bg-gradient text-center rounded-pill">
                                                                <h3> ${{fod_natp_total_deducciones}} </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container text-center">
                                                        <h2>Neto Aproximado a Recibir:</h2></div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-auto text-center text-bg-success bg-gradient rounded-pill">
                                                                <h4>$ {{fod_natp_subt}}</h4>
                                                            </div>
                                                            <div class="col-auto">
                                                                <h4> - </h4>
                                                            </div>
                                                            <div class="col-auto text-center text-bg-danger bg-gradient rounded-pill ">
                                                                <h4>$ {{fod_natp_total_deducciones}}</h4>
                                                            </div>
                                                        </div>
                                                    </br>
                                                    <div class="row justify-content-center">
                                                        <div class="col-auto text-center text-bg-info bg-gradient rounded-pill">
                                                            <h3>  = $ {{fod_natp_neto}}   </h3>
                                                        </div>    
                                                    </div>
                                                        </div>
    <!-- FO_SIN_ATP -->
                    {% elif user.position_id is 6 %}
                    <div class="container text-center">
                        <h2>FO sin ATP</h2>
                        <h2 class="text-primary">Salarios y Primas fijas</h2></div>
                        <div class="col">
                            <div class="box text-center">
                                <div class="container shadow p-4 mb-4 bg-primary bg-gradient rounded">
                                    <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between">
                                        Salario Base
                                        <span>{{fo_atp_base}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Gasto de Representacion
                                        <span>{{fo_natp_grep}}</span>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Prima Fija
                                        <span>{{fo_atp_prima}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Viatico Garantizado
                                        <span>{{fo_atp_viatico}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Viatico Variable
                                        <span>{{fo_atp_viatico_extra}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Prima Variable
                                        <span>{{fo_atp_prima_extra}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Rata por Hora
                                        <span>{{fo_natp_rata}}</span>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="container text-center">
                                <h2 class="text-success">Compensaciones y Recargos</h2></div>
                                <div class="col">
                                    <div class="box text-center">
                                        <div class="container shadow p-4 mb-4 bg-success bg-gradient rounded">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                              Viatico Variable
                                              <span class="badge bg-success rounded-pill">{{fo_viatico_extra}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Prima Variable
                                                <span class="badge bg-success rounded-pill">{{fo_prima_extra}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Domingo
                                                <span class="badge bg-success rounded-pill">{{fo_natp_rec_dom}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia Libre
                                                <span class="badge bg-success rounded-pill">{{fo_natp_rec_libre}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia SA
                                                <span class="badge bg-success rounded-pill">{{fo_natp_rec_sa}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia Nacional
                                                <span class="badge bg-success rounded-pill">{{fo_natp_rec_nac}}</span>
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="container text-center">
                                    <h2 class="text-success">Sub Totales - Ingresos</h2></div>
                                    <div class="col">
                                        <div class="box">
                                            <div class="container text-bg-success text-center bg-gradient rounded-pill">
                                                <h3> ${{fo_natp_subt}} </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container text-center">
                                        <h2 class="text-danger">Descuentos</h2></div>
                                        <div class="col">
                                            <div class="box">
                                                <div class="container shadow p-4 mb-4 bg-danger bg-gradient rounded">
                                                    <ul class="list-group">
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        C.S.S.
                                                        <span class="badge bg-danger rounded-pill">{{fo_natp_css}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Seguro Educativo
                                                            <span class="badge bg-danger rounded-pill">{{fo_natp_seduc}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Impuesto Sobre la Renta
                                                            <span class="badge bg-danger rounded-pill">{{fo_isr}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex text-danger justify-content-between align-items-center">
                                                            El ISR esta calculado estimando 82hrs y es solo un estimado.
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Impuesto Sobre la Renta (Gasto de Representacion)
                                                            <span class="badge bg-danger rounded-pill">{{fo_natp_isr_gr}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            UNPAC
                                                            <span class="badge bg-danger rounded-pill">{{fo_natp_unpac}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container text-center">
                                            <h2 class="text-danger">Sub Totales - Descuentos</h2></div>
                                                    <div class="col">
                                                        <div class="box">
                                                            <div class="container text-bg-danger bg-gradient text-center rounded-pill">
                                                                <h3> ${{fo_natp_total_deducciones}} </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container text-center">
                                                        <h2>Neto Aproximado a Recibir:</h2></div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-auto text-center text-bg-success bg-gradient rounded-pill">
                                                                <h4>$ {{fo_natp_subt}}</h4>
                                                            </div>
                                                            <div class="col-auto">
                                                                <h4> - </h4>
                                                            </div>
                                                            <div class="col-auto text-center text-bg-danger bg-gradient rounded-pill ">
                                                                <h4>$ {{fo_natp_total_deducciones}}</h4>
                                                            </div>
                                                        </div>
                                                    </br>
                                                    <div class="row justify-content-center">
                                                        <div class="col-auto text-center text-bg-info bg-gradient rounded-pill">
                                                            <h3>  = $ {{fo_natp_neto}}   </h3>
                                                        </div>    
                                                    </div>
                                                        </div>
    <!-- FO_CON_ATP -->
                    {% elif user.position_id is 7 %}
                    <div class="container text-center">
                        <h2>FO con ATP</h2>
                        <h2 class="text-primary">Salarios y Primas fijas</h2></div>
                        <div class="col">
                            <div class="box text-center">
                                <div class="container shadow p-4 mb-4 bg-primary bg-gradient rounded">
                                    <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between">
                                        Salario Base
                                        <span>{{fo_atp_base}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Gasto de Representacion
                                        <span>{{fo_atp_grep}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Prima Fija
                                        <span>{{fo_atp_prima}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Viatico Garantizado
                                        <span>{{fo_atp_viatico}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Viatico Variable
                                        <span>{{fo_atp_viatico_extra}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Prima Variable
                                        <span>{{fo_atp_prima_extra}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Rata por Hora
                                        <span>{{fo_atp_rata}}</span>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="container text-center">
                                <h2 class="text-success">Compensaciones y Recargos</h2></div>
                                <div class="col">
                                    <div class="box text-center">
                                        <div class="container shadow p-4 mb-4 bg-success bg-gradient rounded">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                              Viatico Variable
                                              <span class="badge bg-success rounded-pill">{{fo_viatico_extra}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Prima Variable
                                                <span class="badge bg-success rounded-pill">{{fo_prima_extra}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Domingo
                                                <span class="badge bg-success rounded-pill">{{fo_atp_rec_dom}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia Libre
                                                <span class="badge bg-success rounded-pill">{{fo_atp_rec_libre}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia SA
                                                <span class="badge bg-success rounded-pill">{{fo_atp_rec_sa}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia Nacional
                                                <span class="badge bg-success rounded-pill">{{fo_atp_rec_nac}}</span>
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="container text-center">
                                    <h2 class="text-success">Sub Totales - Ingresos</h2></div>
                                    <div class="col">
                                        <div class="box">
                                            <div class="container text-bg-success bg-gradient text-center rounded-pill">
                                                <h3> ${{fo_atp_subt}} </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container text-center">
                                        <h2 class="text-danger">Descuentos</h2></div>
                                        <div class="col">
                                            <div class="box">
                                                <div class="container shadow p-4 mb-4 bg-danger bg-gradient rounded">
                                                    <ul class="list-group">
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        C.S.S.
                                                        <span class="badge bg-danger rounded-pill">{{fo_atp_css}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Seguro Educativo
                                                            <span class="badge bg-danger rounded-pill">{{fo_atp_seduc}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Impuesto Sobre la Renta
                                                            <span class="badge bg-danger rounded-pill">{{fo_isr}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex text-danger justify-content-between align-items-center">
                                                            El ISR esta calculado estimando 82hrs y es solo un estimado.
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Impuesto Sobre la Renta (Gasto de Representacion)
                                                            <span class="badge bg-danger rounded-pill">{{fo_atp_isr_gr}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            UNPAC
                                                            <span class="badge bg-danger  rounded-pill">{{fo_atp_unpac}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container text-center">
                                            <h2 class="text-danger">Sub Totales - Descuentos</h2></div>
                                                    <div class="col">
                                                        <div class="box">
                                                            <div class="container text-bg-danger bg-gradient text-center rounded-pill">
                                                                <h3> ${{fo_atp_total_descuentos}} </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container text-center">
                                                        <h2>Neto Aproximado a Recibir:</h2></div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-auto text-center text-bg-success bg-gradient rounded-pill">
                                                                <h4>$ {{fo_atp_subt}}</h4>
                                                            </div>
                                                            <div class="col-auto">
                                                                <h4> - </h4>
                                                            </div>
                                                            <div class="col-auto text-center text-bg-danger bg-gradient rounded-pill ">
                                                                <h4>$ {{fo_atp_total_descuentos}}</h4>
                                                            </div>
                                                        </div>
                                                    </br>
                                                    <div class="row justify-content-center">
                                                        <div class="col-auto text-center text-bg-info bg-gradient rounded-pill">
                                                            <h3>  = $ {{fo_atp_neto}}   </h3>
                                                        </div>    
                                                    </div>
                                                        </div>
        <!-- CAPITAN -->
                    {% elif user.position_id is 8 %}
                    <div class="container text-center">
                        <h2>CAPITAN</h2>
                        <h2 class="text-primary">Salarios y Primas fijas</h2></div>
                        <div class="col">
                            <div class="box text-center">
                                
                                <div class="container shadow p-4 mb-4 bg-primary bg-gradient rounded">
                                    <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between">
                                        Salario Base
                                        <span>{{c_base}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Gasto de Representacion
                                        <span>{{c_g_rep}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Prima Fija
                                        <span>{{c_prima}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        Viatico Garantizado
                                        <span>{{c_viatico}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Viatico Variable
                                        <span>{{c_viatico_extra}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Prima Variable
                                        <span>{{c_prima_extra}}</span>
                                    </li>
                                    <li class="list-group-item list-group-item-info d-flex justify-content-between">
                                        Rata por Hora
                                        <span>{{c_rata}}</span>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="container text-center">
                                <h2 class="text-success">Compensaciones y Recargos</h2></div>
                                <div class="col">
                                    <div class="box text-center">
                                        <div class="container shadow p-4 mb-4 bg-success bg-gradient rounded">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                              Viatico Variable
                                              <span class="badge bg-success rounded-pill">{{c_viatico_extra}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Prima Variable
                                                <span class="badge bg-success rounded-pill">{{c_prima_extra}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Domingo
                                                <span class="badge bg-success rounded-pill">{{c_rec_dom}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia Libre
                                                <span class="badge bg-success rounded-pill">{{c_rec_libre}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia SA
                                                <span class="badge bg-success rounded-pill">{{c_rec_sa}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Recargo Dia Nacional
                                                <span class="badge bg-success bg-gradient rounded-pill">{{c_rec_nac}}</span>
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="container text-center">
                                    <h2 class="text-success">Sub Totales - Ingresos</h2></div>
                                    <div class="col">
                                        <div class="box">
                                            <div class="container text-bg-success bg-gradient text-center rounded-pill">
                                                <h3> ${{c_subt}} </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container text-center">
                                        <h2 class="text-danger">Deducciones</h2></div>
                                        <div class="col">
                                            <div class="box">
                                                <div class="container shadow p-4 mb-4 bg-danger bg-gradient rounded">
                                                    <ul class="list-group">
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        C.S.S.
                                                        <span class="badge bg-danger rounded-pill">{{c_css}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Seguro Educativo
                                                            <span class="badge bg-danger rounded-pill">{{c_seduc}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Impuesto Sobre la Renta
                                                            <span class="badge bg-danger rounded-pill">{{c_isr}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex text-danger justify-content-between align-items-center">
                                                            El ISR esta calculado estimando 82hrs y es solo un estimado.
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Impuesto Sobre la Renta (Gasto de Representacion)
                                                            <span class="badge bg-danger rounded-pill">{{c_isr_gr}}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            UNPAC
                                                            <span class="badge bg-danger rounded-pill">{{c_unpac}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container text-center">
                                            <h2 class="text-danger">Sub Totales - Deducciones</h2></div>
                                                    <div class="col">
                                                        <div class="box">
                                                            <div class="container text-bg-danger bg-gradient text-center rounded-pill">
                                                                <h3> ${{c_total_descuentos}} </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container text-center">
                                                        <h2>Neto Aproximado a Recibir:</h2></div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-auto text-center text-bg-success bg-gradient rounded-pill">
                                                                <h4>$ {{c_subt}}</h4>
                                                            </div>
                                                            <div class="col-auto">
                                                                <h4> - </h4>
                                                            </div>
                                                            <div class="col-auto text-center text-bg-danger bg-gradient rounded-pill ">
                                                                <h4>$ {{c_total_descuentos}}</h4>
                                                            </div>
                                                        </div>
                                                    </br>
                                                    <div class="row justify-content-center">
                                                        <div class="col-auto text-center text-bg-info bg-gradient rounded-pill">
                                                            <h3>  = $ {{c_neto}}   </h3>
                                                        </div>    
                                                    </div>
                                                        </div>
                    {% endif %}        

{% endblock content %}