{% extends 'main.html' %}   

{% block content %}

<div class="text-center">
    <h1>Logbook</h1>
    <h3>Current Cicle: {{current_month}}, {{current_month_minus1}} and {{current_month_minus2}}</h3>
</div>

<div class="text-center">{{current_month}}</div>
<div class="container-sm">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
            <th scope="col">DATE</th>
            <th scope="col">ROUTE</th>
            <th scope="col">BLOCK TIME</th>
            <th scope="col">BLOCK TIME (Decimal)</th>
            <th scope="col">SUNDAY</th>
            <th scope="col">SUNDAY (Decimal)</th>
            <th scope="col">HOLIDAY</th>
            <th scope="col">HOLIDAY (Decimal)</th>
            <th scope="col">LIBRE</th>
            <th scope="col">LIBRE (Decimal)</th>
            <th scope="col">SA</th>
            <th scope="col">SA (Decimal)</th>
            <th scope="col">REMARKS</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">    
            <tr>
            {%for log in raw_logbook %}
            <td>{{log.date}}</td>
            <td>{{log.route}}</td>
            <td>{{log.total_flight_block}}</td>
            <td>{{log.total_decimal}}</td>
            <td>{{log.total_sun_block}}</td>
            <td>{{log.sun_decimal}}</td>
            <td>{{log.total_holiday_block}}</td>
            <td class="text-center">{{log.holiday_decimal}}</td>
            <td>{{log.total_libre_block}}</td>
            <td>{{log.libre_decimal}}</td>
            <td>{{log.total_sa_block}}</td>
            <td>{{log.sa_decimal}}</td>
            <td>{{log.remarks}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="text-center">{{current_month_minus1}}</div>
    <div class="container-sm">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                <th scope="col">DATE</th>
                <th scope="col">ROUTE</th>
                <th scope="col">BLOCK TIME</th>
                <th scope="col">BLOCK TIME (Decimal)</th>
                <th scope="col">SUNDAY</th>
                <th scope="col">SUNDAY (Decimal)</th>
                <th scope="col">HOLIDAY</th>
                <th scope="col">HOLIDAY (Decimal)</th>
                <th scope="col">LIBRE</th>
                <th scope="col">LIBRE (Decimal)</th>
                <th scope="col">SA</th>
                <th scope="col">SA (Decimal)</th>
                <th scope="col">REMARKS</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">    
                <tr>
                {%for log in raw_logbook1 %}
                <td>{{log.date}}</td>
                <td>{{log.route}}</td>
                <td>{{log.total_flight_block}}</td>
                <td>{{log.total_decimal}}</td>
                <td>{{log.total_sun_block}}</td>
                <td>{{log.sun_decimal}}</td>
                <td>{{log.total_holiday_block}}</td>
                <td class="text-center">{{log.holiday_decimal}}</td>
                <td>{{log.total_libre_block}}</td>
                <td>{{log.libre_decimal}}</td>
                <td>{{log.total_sa_block}}</td>
                <td>{{log.sa_decimal}}</td>
                <td>{{log.remarks}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
<div class="text-center">{{current_month_minus2}}</div>
        <div class="container-sm">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                    <th scope="col">DATE</th>
                    <th scope="col">ROUTE</th>
                    <th scope="col">BLOCK TIME</th>
                    <th scope="col">BLOCK TIME (Decimal)</th>
                    <th scope="col">SUNDAY</th>
                    <th scope="col">SUNDAY (Decimal)</th>
                    <th scope="col">HOLIDAY</th>
                    <th scope="col">HOLIDAY (Decimal)</th>
                    <th scope="col">LIBRE</th>
                    <th scope="col">LIBRE (Decimal)</th>
                    <th scope="col">SA</th>
                    <th scope="col">SA (Decimal)</th>
                    <th scope="col">REMARKS</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">    
                    <tr>
                    {%for log in raw_logbook2 %}
                    <td>{{log.date}}</td>
                    <td>{{log.route}}</td>
                    <td>{{log.total_flight_block}}</td>
                    <td>{{log.total_decimal}}</td>
                    <td>{{log.total_sun_block}}</td>
                    <td>{{log.sun_decimal}}</td>
                    <td>{{log.total_holiday_block}}</td>
                    <td class="text-center">{{log.holiday_decimal}}</td>
                    <td>{{log.total_libre_block}}</td>
                    <td>{{log.libre_decimal}}</td>
                    <td>{{log.total_sa_block}}</td>
                    <td>{{log.sa_decimal}}</td>
                    <td>{{log.remarks}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

{% endblock %}