{% extends 'pass_reset.html'%}

{% block content %}

<div class="container mt-4 d-flex text-center shadow p-3 mb-5 bg-body rounded">
    <div class="form-control">
        <h1>Enter your new Password</h1>

    <p>Please enter your new password twice to verify you type it in correctly</p>
    <form method="POST">
        {% csrf_token %}
            {{form}}
        <input class="btn btn-primary" type="Submit" value="Update Password" name="Update Password">
    </form>
    </div>
</div>

{% endblock content %}