{% extends 'pass_reset.html'%}

{% block content %}

<div class="container mt-4 justify-content-center shadow p-3 mb-5 bg-body rounded">
        <h1>Password Reset Email Sent!</h1>

    <p>
        We've emailed you instructions dor setting your password, if an account exist with the email you entered. You should receive them shortly.
    </br>
</br>
        If you don't receive an email, please make sure you've entered the address you registeres with, and check your Spam/Junk folder.
    </p>
    <p>*You may close this window now.</p>

</div>

{% endblock content %}