{% extends 'main.html' %}

{% block content %}

<div class="container text-center">
    <h2 class="text-center">Simple Calc</h2>
<form method="POST" action="" class="mb-3">
    {% csrf_token %}
    <div class="container text-center">
        <div class="col-md">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="number" step="0.01" name="t_block" class="form-control" value="0">
                <label for="floatingInput">Ingresa Horas Totales del Mes</label>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="number" step="0.01" name="t_sunday" class="form-control" value="0" >
                    <label for="floatingPassword">Ingresa Horas de Domingo</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="number" step="0.01" name="t_libre" class="form-control"  value="0">
                    <label for="floatingPassword">Ingresa Horas de Libre</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="number" step="0.01" name="t_sa" class="form-control" value="0">
                    <label for="floatingPassword">Ingresa Horas de SA</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="number" step="0.01" name="t_feriado" class="form-control" value="0">
                    <label for="floatingPassword">Ingresa Horas de Feriado</label>
                </div>
            </div>
        </div>
        <button type="submit" name="cap" class="btn btn-primary col-5">Capitan</button>
        <button type="submit" name="fo_atp" class="btn btn-primary col-5">FO con ATP</button>
    </br>
        <button type="submit" name="fo_natp" class="btn btn-primary col-5">FO sin ATP</button>
        <button type="submit" name="fod_natp" class="btn btn-primary col-5">FO sin ATP (Tabla D)</button>
</form>
{% endblock %}