{% extends 'main.html' %}

{% block content %}
{% load static %}
<div class="container text-center">
    <form class="container gx-5 gy-5" action="" method="POST">
        <h2 class="display-2"><img src="{% static '/icons/user-profile.svg' %}" alt="Log-in" width="50" height="50"> Mi Perfil</h2>
        <div class=""><h1>{{user.first_name}} {{user.last_name}}</h1></div>
        <div class=""><h3>ID: {{user.cmp_id}}</h3></div>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm">
            <label class="form-label">Nombre:</label>
            {{ form.first_name }}
        </div>
        <div class="col-sm">
            <label class="form-label">Apellido:</label>
            {{ form.last_name }}
        </div>
    </div>
        <div class="row">
            <div class="col-sm">
                <label class="form-label">Posicion:</label>
                {{ form.position }}
            </div>
            <div class="col-sm">
                <label class="form-label">Email:</label>
                {{ form.email }}
            </div>
        </div>
        <div class="row text-center"><h3>Descuentos Personales:</h3></div>
        <div class="row">
            <div class="col-sm">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Descuentos Personales:
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-group">
                                    <li class="form-label text-danger list-group-item d-flex justify-content-between align-items-center">
                                    {{ form.custom_disc_1_name }}
                                    <span>{{ form.custom_disc_1 }}</span>
                                    </li>
                                    <li class="form-label text-danger list-group-item d-flex justify-content-between align-items-center">
                                    {{ form.custom_disc_2_name }}
                                    <span>{{ form.custom_disc_2 }}</span>
                                    </li>
                                    <li class="form-label text-danger list-group-item d-flex justify-content-between align-items-center">
                                    {{ form.custom_disc_3_name }}
                                    <span>{{ form.custom_disc_3 }}</span>
                                    </li>
                                    <li class="form-label text-danger list-group-item d-flex justify-content-between align-items-center">
                                    {{ form.custom_disc_4_name }}
                                    <span>{{ form.custom_disc_4 }}</span>
                                    </li>
                                    <li class="form-label text-danger list-group-item d-flex justify-content-between align-items-center">
                                    {{ form.custom_disc_5_name }}
                                    <span>{{ form.custom_disc_5 }}</span>
                                    </li>
                                </ul>
                            </div>
                          </div>
                    </div>
                </div>
                
            </div>
        </div>
    </br>
    <div class="text-center my-3">
        <a href="/" class="btn btn-dark">Cancelar</a>
        <button class="btn btn-primary" type="submit">Actualizar</button>
    </div>
    </form>
</div>

{% endblock content %}